
<div class="step-one-personal-info-container">
    <h1 class="session-title">Personal information</h1>
    <p class="session-desc">Please provide your name, email address and phone number</p>
    <form action="" >
        <div class="user-name-field">
            <p class="input-title">Name</p>
            <input type="text" class="input-field" id="input-user-name" placeholder="e.g. Mohamed Mousa">
        </div>
        <div id="user-email">
            <p class="input-title">Email address</p>
            <input type="email" class="input-field" id="input-user-email" placeholder="e.g. mohamedmousa@example.com">
        </div>
        <div id="user-phone">
            <p class="input-title">Phone number</p>
            <input type="tel" class="input-field"  id="input-user-phone" placeholder="e.g. +39 3336863167">
        </div>
    </form>
    <input type="button" value="Next Step" class="next-step-btn">
</div>