<div class="step-one-personal-info-container">
    <h1 class="session-title">Pick add-ons</h1>
    <p class="session-desc">Add-ons help enhance your gaming experience</p>

    <div class="wrapper-add-ons" *ngFor="let extra of addOns, let i = index">
        <div class="add-btn">
            <input type="checkbox" (change)="addService(i, $event.target.checked)" class="checkbox-btn" name="" id="">
        </div>
        <div class="wrapper-info">
            <p class="title">Online service</p>
            <p class="desc">Access to multiplayer games</p>
        </div>
        <div class="price">+$1/mo</div>
    </div>
    <div class="btn-wrapper">
        <input type="button" (click)="onBack()" value="Go back" class="previous-step-btn">
        <input type="button" (click)="onNext()" value="Next Step" class="next-step-btn">
    </div>
</div>