<div class="summary-container">
    <h1 class="session-title">Finishing up</h1>
    <p class="session-desc">Double-check everything look fine before confirming</p>
    <div class="plan-wrapper">
        <div class="plan-container">
            <p class="plan-title">{{selectedPlan}}</p>
            <p class="plan-change-btn">Change</p>
           
        </div>
        <div class="plan-price-wrapper">
             <p>{{selectedPlanPrice}}</p>
        </div>
    </div>
    <div class="adds-wrapper" *ngFor="let add of selectedAddOns">
        <div class="adds-container">
            <p class="add-title">{{add.productName}}</p>
        </div>
        <div class="adds-price-wrapper">
             <p class="adds-price">{{add.price}}</p>
        </div>
    </div>

    <div class="total-amount-wrapper">
            <p class="total-amount-txt">Total (per month)</p>
            <p class="total-amount">{{totalAmount}}</p>
        </div>

    <div class="btn-wrapper">
        <input type="button" (click)="onBack()" value="Go back" class="previous-step-btn">
        <input type="button" (click)="onNext()" value="Confirm" class="next-step-btn">
    </div>
</div>